.pl{ 
    margin-top: 5rem;   
    margin-bottom: 5rem;   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pl-title{
    width: 100%;
    font-size: 50px;
    font-weight: 600;
}
.pl-desc{
    width: 100%;
    margin: 20px 0;
}
.pl-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.button {      
    align-items: center;
    justify-content: flex-start;
    border: green;
    background-color: green;
    color: white;
    font-weight: 500px;
    cursor: pointer;
    display: inline-block;    
    padding: 0.6em 1.6em;
    border-radius: 50px;
    text-decoration: none;
    
  }
@media screen and (max-device-width: 480px) {
    .pl{
        flex-direction: column;
        width: 100%; 
    }

    .pl-title{ 
        width: 150%;
    } 
        .pl-desc{
            width: 150%;
        } 
}