
.pp{
    display: flex;
}
.p{
    width: 10%;
    height: auto;
    margin: 20px 10px;
    border: 2px solid #808080;
    border-radius: 10px;
    overflow: hidden;
    flex: 1;

}
.p-description{
    flex: 1;
    text-align: left;
}

.p-img{
    width: 100%;
    transition: all 10s ease;

}
.p:hover .p-img{
        transform: translateY(-100%)
}