.i{
    display: flex; 
    height: 100vh;
}
.i-left{
    flex: 1;
}
.i-right{
    flex: 1;
}
.i-left-wrapper{
    padding: 50px; 
}
.i-intro{
    font-size: 30px;
    font-weight: 300;
}
.i-name{
    font-size: 60px;
}
.i-title{
    height: 50px;
    overflow: hidden;
}
.i-title-wrapper{
     height: 100%;
     animation: move 5s ease-in-out infinite alternate;
}
@keyframes move {
    50%{
        transform:translateY(-50px);
    }
    100%{
        transform:translateY(-100px);
    }
    
}
.i-title-item{
    height: 50px;

}